@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #26641a;
  --secondary-color: #00b894;
  --text-color: #333;
  --bg-color: #2c5f2d;
  --accent-color: #ffc107;
}

.hf-btn-enquiry {
  background: #113d3c;
  border: 1px solid #00b894;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.hf-btn-enquiry:hover {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
